*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    font-family: 'Markazi Text',serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}



header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 3rem;
}

header>img:hover{
    transform: translateX(0);
    transition: 2s;
}

nav ul{
    list-style: none;
    text-align:center;
}

nav li{
    display: inline-block;
}

section{
    display: flex;
    
}

article{
    flex: 1;
    margin: 2rem;
}

footer{
    display: flex;
}

footer div{
    flex: 1;
}